<p>emp-list works!</p>
<div *ngIf="flag">
     <!-- {{emps|json}}  -->
    <table class="table">
      <thead>
        <th> Cid </th>
        <th> Cname </th>
          <th> Salary</th>
          <th> Date of Joining </th>
          <th> City </th>
          <th> Department ID </th>
          
      </thead>
      
      <tr *ngFor="let i of customers">
        <td> {{i.cid}}</td>
        <td> {{i.cname}}</td>
        <td>{{i.sal|currency}}</td>
        <td>{{i.doj|date}}</td>
        <td>{{i.city}}</td>
        <td> {{i.deptid}}</td>
        <td> <a [routerLink]="['/customerupdate',i.cid ]"> Edit </a></td>
        
      </tr>
    </table>
  </div>