<div>
  <h1> {{title}}</h1>
  <h1> Employee List </h1>

  <div *ngIf="local.getItem('token')==null">
    <!-- <li class="nav-item" style="margin-left:700px" > -->
      <a class="nav-link" routerLink="login">Login</a>
    <!-- </li> -->
    <!-- <li class="nav-item" *ngIf="local.getItem('token')==null" style="margin-left:700px;"> -->
      <a class="nav-link" routerLink="register">Signup</a>
    <!-- </li> -->
    </div>
     <!-- <li class="nav-item" *ngIf="local.getItem('token')!=null" style="margin-left:400px" > -->
            <a class="nav-link" routerLink="emplist">Hello {{local.getItem("Username")}}</a>
    <!-- </li> -->
    <!-- <li class="nav-item" *ngIf="local.getItem('token')!=null" style="margin-left:400px">  -->
            <a class="nav-link" (click)="logout()">Logout</a>
    <!-- </li> -->


   <!-- <a routerLink="home"> Home </a> -->
   <!-- <a routerLink="emplist"> Employees List</a>
    <a routerLink="register"> Register </a> -->
    <a routerLink="customerlist">Customer List</a>
    <a routerLink="customeradd"> Register </a>
    <a routerLink="customerdelete"> Delete a Customer</a>
   <router-outlet></router-outlet>
</div>